# Google Sheets Integration
# Create a service account at https://console.cloud.google.com/iam-admin/serviceaccounts
# Share your Google Sheet with the service account email address

GOOGLE_CLIENT_EMAIL="your-service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your-google-sheet-id"
